img{
    max-width: 95%;
    max-height: 95vh;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 8px -2px black;
}
span{
    display: block;
    margin: 5px;
}
#captchaForm{
    display: inline-block;
    padding: 10px;
}
#captchaForm input{
    margin-top: 15px;
    padding: 5px 20px;
}
