img{
    max-width: 100%;
    max-height: 95vh;
    display: block;

}
span{
    display: block;
    margin: 5px;
}
#captchaForm{
    display: inline-block;
    padding: 10px;
}
#captchaForm input{
    margin-top: 15px;
    padding: 5px 20px;
}
#uploadBlock input[type='button']{
    padding: 1px 10px;
}
.image{
    display: inline-block;
    max-width: 95%;
    margin: 0px auto;
    box-shadow: 0px 0px 8px -2px black;
}
#memes{
    text-align: center;
}
.voteBar{
    background-color: #133;/*7*/
    color:white;
    height: 1.5em;
    display: table;
    width: 100%;
    padding-top: 0.25em;
}
.meme{
    margin: 20px 0px;
}
.voteBar a{
    display: table-cell;
    text-align: center;
}
