img{
    max-width: 95%;
    max-height: 95vh;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 8px -2px black;
}
span{
    display: block;
    margin: 5px;
}
form{
    display: inline-block;
}
