*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #ddd;
}
.card{
    background-color: white;
    max-width: 95%;
    margin: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 8px -2px black;
}
