.card{
    text-align: left;
}
b{
    display: block;
    text-align: center;
}
p{
    font-size: 1.4em;
    font-family: sans-serif;
    text-align: center;;
    line-height: 1.4em;
    margin: 1em auto;
    max-width: 600px;
}
